<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MediaOrganizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
			<MediaOrganizer.Properties.Settings>
            <setting name="SeriesSortFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="SeriesMoveFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="SeriesMoveAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoviesSortFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="MoviesListName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
        </MediaOrganizer.Properties.Settings>
    </userSettings>
</configuration>
